absl-py==2.0.0
amqp==5.1.1
asgiref==3.7.2
beautifulsoup4==4.11.1
billiard==4.1.0
bootstrap4==0.1.0
boto3==1.28.76
botocore==1.31.76
bs4==0.0.1
cachetools==5.3.2
celery==5.3.4
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.1.1
crispy-bootstrap4==2023.1
cycler==0.10.0
distlib==0.3.7
Django==4.2.7
django-cleanup==8.0.0
django-crispy-forms==2.1
django-debug-toolbar==4.2.0
filelock==3.13.1
fire==0.5.0
fonttools==4.43.1
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.1.0
grpcio==1.59.2
huggingface-hub==0.18.0
idna==2.10
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.5
kombu==5.3.2
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.1
oauthlib==3.2.2
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.74
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
platformdirs==3.11.0
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.6
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybboxes==0.1.6
PyJWT==2.3.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0.1
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
roboflow==1.1.7
rsa==4.9
s3transfer==0.7.0
sahi==0.11.14
scipy==1.11.3
seaborn==0.13.0
shapely==2.0.2
six==1.16.0
smmap==5.0.1
soupsieve==2.3.2
sqlparse==0.4.4
supervision==0.16.0
sympy==1.12
tensorboard==2.15.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
twilio==7.8.1
typing_extensions==4.8.0
tzdata==2023.3
ultralytics==8.0.203
urllib3==1.26.9
vine==5.0.0
virtualenv==20.24.6
wcwidth==0.2.9
Werkzeug==3.0.1
yolov5==7.0.13
