{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Log In
{% endblock title %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1">Welcome to DetectHub</h4>
                                </div>
                                <h2 class="card-title text-center mb-4">Log In</h2>
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="text-center mt-4">
                                        <button class="btn btn-outline-info btn-block" type="submit">
                                            <span class="btn-text">Login</span>
                                        </button>
                                    </div>
                                </form>
                                <hr class="bg-light">
                                <div class="text-center">
                                    <small class="text-muted">
                                        <a href="{% url 'accounts:password_reset' %}" class="text-dark">Forgot Password?</a>
                                    </small>
                                </div>
                                <div class="text-center mt-3">
                                    <small class="text-muted">Need An Account? <a href="{% url 'accounts:register' %}" class="text-dark">Sign Up Now</a></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a Website</h4>
                                <p class="small mb-0">DetectHub is a community and sharing platform in the fields of computer vision, artificial intelligence, machine learning, and object detection.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    body {
        background-color: white;
    }

    .gradient-custom-2 {
        background: #000; /* Siyah arka plan */
        color: white; /* Yazı rengi beyaz */
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    .navbar {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .gradient-form {
        margin-top: 80px;
    }

    .btn-outline-info {
        color: black;
        border-color: black;
    }
    .btn-outline-info:hover {
        color: white;
        background-color: black;
        border-color: black;
    }
    .btn-text {
        display: block;
    }
</style>
{% endblock content %}