{% extends "base.html" %}

{% block title %}
    Log Out
{% endblock title %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <div class="card border-dark shadow-lg">
                    <div class="card-body p-5">
                        <h2 class="card-title text-center mb-4">You have been logged out</h2>
                        <div class="text-center mt-4">
                            <a href="{% url 'users:login' %}" class="btn btn-outline-info">Log In Again</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_head %}
<style>
    body {
        background-color: white;
    }

    .gradient-form {
        margin-top: 80px;
    }

    .btn-outline-info {
        color: black;
        border-color: black;
    }
    .btn-outline-info:hover {
        color: white;
        background-color: black;
        border-color: black;
    }

    .navbar {
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>
{% endblock extra_head %}