{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: white;">
    <div class="container mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card border-dark shadow-lg">
                    <div class="card-body p-5">
                        <h2 class="card-title text-center mb-4">Reset Password</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div class="text-center mt-4">
                                <button class="btn btn-outline-info btn-block" type="submit">
                                    <span class="btn-text">Request Password Reset</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_head %}
<style>
    body {
        background-color: white;
    }

    .gradient-form {
        margin-top: 80px;
    }

    .card {
        border: 1px solid #000;
    }

    .btn-outline-info {
        color: black;
        border-color: black;
    }
    .btn-outline-info:hover {
        color: white;
        background-color: black;
        border-color: black;
    }

    .navbar {
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>
{% endblock extra_head %}